body{
background-color: pink;
}
.caperucita_roja{
    width: 40px;
    height: 5px; padding: 100;  
    border: 5px solid black;
    border-radius: 25px;
}
img{
    width: 200px;
}
*{
    text-align: center;
    
}